[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "superMICE"]
	path = superMICE
	url = https://github.com/abshev/supermice
	shallow = true
	registered = true
